source "drivers/xiaomi/dump_display/Kconfig"
source "drivers/xiaomi/boottime/Kconfig"
source "drivers/xiaomi/hangdetect/Kconfig"
source "drivers/xiaomi/mi_stack/Kconfig"
source "drivers/xiaomi/mi_ubt/Kconfig"
source "drivers/xiaomi/printk_enhance/Kconfig"
source "drivers/xiaomi/bootmonitor/Kconfig"
source "drivers/xiaomi/mi_trace/Kconfig"
source "drivers/xiaomi/swinfo/Kconfig"
